@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background);
}

@layer base {
  :root {
    --primary: #8E00E2;
    --on-primary: #FFFFFF;
    --primary-container: #F2DAFF;
    --on-primary-container: #2E004E;
    --secondary: #95398D;
    --on-secondary: #FFF;
    --secondary-container: #FFD7F4;
    --on-secondary-container: #380037;
    --tertiary: #7F2FD3;
    --on-tertiary: #FFF;
    --tertiary-container: #EFDBFF;
    --on-tertiary-container: #2B0053;
    --error: #BF0027;
    --on-error: #FFF;
    --error-container: #FFDAD8;
    --on-error-container: #410007;
    --background: #FEFCF4;
    --on-background: #1B1C17;
    --surface: #FEFCF4;
    --on-surface: #1B1C17;
    --outline: #7C757E;
    --surface-variant: #E9DFEA;
    --on-surface-variant: #4B454D;
    --inverse-surface: #30312B;
    --inverse-on-surface: #F3F1E8;
    --active: #ff0000;
    --font: "Graphik", "Roboto", sans-serif , system-ui, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial";
  }
}
