@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background);
}

@layer base {
  :root {
    --primary: #8e00e2;
    --on-primary: #ffffff;
    --primary-container: #f2daff;
    --on-primary-container: #2e004e;
    --secondary: #95398d;
    --on-secondary: #fff;
    --secondary-container: #ffd7f4;
    --on-secondary-container: #380037;
    --tertiary: #7f2fd3;
    --on-tertiary: #fff;
    --tertiary-container: #efdbff;
    --on-tertiary-container: #2b0053;
    --error: #bf0027;
    --on-error: #fff;
    --error-container: #ffdad8;
    --on-error-container: #410007;
    --background: #fefcf4;
    --on-background: #1b1c17;
    --surface: #f8eff3;
    --on-surface: #1b1c17;
    --outline: #7c757e;
    --surface-variant: #e9dfea;
    --on-surface-variant: #4b454d;
    --inverse-surface: #30312b;
    --inverse-on-surface: #f3f1e8;
    --font: 'Graphik', 'Roboto', sans-serif, system-ui, 'Segoe UI', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      'Helvetica', 'Arial';
  }
}
